@import "variables";
@import "project";

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
  }
backimg {
    background-image: url(("../images/Seamless06.JPG"));
    background-repeat: repeat;
}
  .timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 10px;
    background-image: -webkit-gradient(linear, left bottom, left top,
									   color-stop(0.15, rgb(131, 165, 231)),
									   color-stop(0.3, rgb(73,125,189)),
                     color-stop(0.45, rgb(28,58,148)),
                     color-stop(0.6, rgb(16, 32, 78)),
                     color-stop(0.75, rgb(9, 17, 43)),
                     color-stop(0.9, rgb(4, 7, 17)),
                     color-stop(0.95, rgb(0, 0, 0)));
    opacity: 0.75;
    left: 49.7%;
    margin-left: -1.5px;
    opacity: 0.6;
  }
  .timeline > li {
    margin-bottom: 20px;
    position: relative;
  }
  .timeline > li:before,
  .timeline > li:after {
    content: " ";
    display: table;
  }
  .timeline > li:after {
    clear: both;
  }
  .timeline > li:before,
  .timeline > li:after {
    content: " ";
    display: table;
  }
  .timeline > li:after {
    clear: both;
  }

  .timeline > li > .timeline-panel {
    width: 46%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.25);
}
  .timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
  }
  .timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
    color: #f2f2f2;
    filter: invert(5%);
  }
  .timeline > li > .timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    z-index: 2;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
  }
  .timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }
  .timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
  .timeline-badge.primary {
    background-color: #2e6da4;
  }
  .timeline-badge.success {
    background-color: #3f903f;
  }
  .timeline-badge.warning {
    background-color: #f0ad4e;
  }
  .timeline-badge.danger {
    background-color: #d9534f;
  }
  .timeline-badge.info {
    background-color: #5bc0de;
  }
  .timeline-title {
    margin-top: 0;
    color: inherit;
  }
  .timeline-body > p,
  .timeline-body > ul {
    margin-bottom: 0;
    font-size: 20px;
  }
  .timeline-body > p + p {
    margin-top: 5px;
  }
  .head {
      font-family: $fontstyle;
      color: #595959;
      letter-spacing: 4px;
      text-align: center;
      padding-top: 15px;
      text-transform: uppercase;
      font-size: 45px;
  }

  .pyats {
    text-decoration: none;
    background-color: transparent;
    font-family: $fontstyle;
    text-align: center;
    font-size: 17px;
    color: #0033cc;
  }
  .pyats:hover{
    text-decoration: none;
    color: rgb(45, 16, 151);
  }

  .parliament {
    background-image: url("../images/parliament.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: auto;
    width: 100vw;
    
  }